.App {
  text-align: center;
  background-color: #192327;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* .loadingPage{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.add-image{
  margin-top:50px;
  width: 100%;
}

#selectMealTime{
  margin-top: 50px;
  width: 100%;
}

#bottom-navigation{
  background-color: #213239;
}

#bottom-navigation .MuiButtonBase-root{
  color: aliceblue;
}
#bottom-navigation .Mui-selected{
  color: #F07E32;
}

#top-bar{
  background-color: #213239;
}

#top-bar .Mui-selected{
  color: #F07E32;
}
#top-bar .MuiTabs-indicator{
  background-color: #9FD218;
}

.MuiPaper-root.MuiCard-root{
  background-color: #213239;
  color: aliceblue;
}

.MuiTypography-root{
  color: aliceblue !important;
}

.MuiPaper-root.MuiCard-root .MuiButtonBase-root{
  color: aliceblue !important;
}

.MuiDialog-paperFullScreen{
  background-color: #192327 !important;
}

.MuiDialog-paperFullScreen .MuiPaper-root{
  background-color: #213239;
}

.MuiDialog-paperFullScreen label{
  color: aliceblue !important;
}

.MuiToolbar-root{
  background-color: #213239 !important;
}

.content-bg .MuiInputBase-input{
  border-color: aliceblue;
}

.css-24rejj-MuiInputBase-input-MuiOutlinedInput-input {
  color: white !important;
}
 */
